---
title: Particle
layout: sketch.njk
---

{% block sketch %}

  <script>

  let nextMass
  let nextChargeDensity
  let particles = []


  class Particle {
    constructor(x, y, mass, chargeDensity) {
      this.position = createVector(x, y)
      this.velocity = createVector(0, 0)
      this.acceleration = createVector(0, 0)
      this.mass = mass
      this.chargeDensity = chargeDensity
      this.charge = this.chargeDensity * mass
    }

    update() {

      // find net force from other particles
      let netForce = createVector(0, 0)
      for (let i = 0; i < particles.length; i++) {
        let p = particles[i]
        let sideA = p.position.x - this.position.x
        let sideB = p.position.y - this.position.y
        let hypotenuse = createVector(sideA, sideB)
        let dist = hypotenuse.mag()

        if (dist !== 0) { // only find force from particles in a different position
          let angle = hypotenuse.heading()
          let force = (this.charge * p.charge)/dist // positive force = push, negative force = pull
          let forceVector = createVector(force*cos(angle), force*sin(angle))

          if (dist < (this.mass + p.mass) / 2) { // if particles are overlapping
            let collisionSpeed = 0
            let collisionForce = p5.Vector.fromAngle(angle, collisionSpeed)
            forceVector.add(collisionForce)
          }
          
          netForce.add(forceVector)
        }
      }

      this.acceleration = createVector(netForce.x/this.mass, netForce.y/this.mass)
      this.velocity.add(this.acceleration)
      this.position.add(this.velocity.mult(0.01))
    }

    display() {
      noStroke()
      fill(128+this.chargeDensity, 128-this.chargeDensity, 128-this.chargeDensity)
      ellipse(this.position.x, this.position.y, this.mass, this.mass)
    }
  }


  function setup() {
    let myCanvas = createCanvas(400, 400)
    myCanvas.parent("sketch-holder")
  }
  

  function draw() {

    background(240)
    for (i = 0; i < particles.length; i++) {
      particles[i].update()
      particles[i].display()
    }

    noStroke()
    fill(0, 0, 0)
    ellipse(mouseX, mouseY, 10, 10)
    text("Number of particles:" + particles.length, 10, 20)

    // clear particles
    if (keyIsDown(LEFT_ARROW)) {
      particles = []
    }
  }


  // create new particle on click
  function mousePressed() {
    nextMass = random(1, 20)
    nextChargeDensity = random(-128, 128)
    particles.push(new Particle(mouseX, mouseY, nextMass, nextChargeDensity))
  }

  </script>
{% endblock sketch %}

{% block content %}
<p>Click to spawn a particle!</p>
<div id="sketch-holder"></div>
<pre><code>

</code></pre>
{% endblock content %}